.green-bullet::before {
  content: '•';
  color: green;
  font-size: 1.5em;
  margin-right: 0.5em;
}
.date-range-picker {
  display: flex;
  gap: 10px;
  align-items: center;
}

.date-picker {
  padding: 5px;
  font-size: px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
.input-group{
  max-width: 80%;
}

.form-control::placeholder{
  color: #fff;
}

.btn{
  border-radius: 10px;
}