.title-tag {
  color: #1877f2;
}

.add-cart {
  background: linear-gradient(131.49deg, #0bd580 1.59%, #04b36a 93.92%);
  border-color: #0bd580;
  padding: 10px 10px;
  font-size: 14px !important;
}

.dark_strip2 {
  border: 1px solid rgb(0, 0, 0);
  max-width: 1300px;
  margin: auto;
  height: 28vh;
  border-radius: 30px;
  background-color: #39128c;
  align-items: center;
  justify-content: center;
}

.new-info {
  padding-right: 15px;
  margin-left: 45px;
}
.content {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  padding: 5px 15px;
}

.demo_text {
  font-size: 14px;
  padding: 5px 15px;
}

.text-info {
  flex: 1;
  padding-right: 15px;
  padding-left: 15px;
}

.platform-form-control {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border-color: white;
  color: lightgrey;
}
.platform-form-control::after {
  color: black;
  font-weight: 700;
}
.buttn {
  flex: 1;
  /* position: ; */
  padding-right: 20px;
  padding-left: 20px;
}

/*Responsive Code*/

/* Media query for small screens (up to 576px) */
@media (max-width: 576px) {
  .dark_strip2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .new-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .text-info {
    display: flex;
    align-self: center !important;
  }

  .platform-form-control {
    max-width: 300px;
    text-align: center;
    margin: auto;
  }

  .buttn {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
  }
}

/* Media query for tablets (577px to 991px) */
@media (min-width: 577px) and (max-width: 991px) {
  .content {
    font-size: 24px;
    line-height: 36px;
    padding: 10px 20px;
  }
  .dark_strip2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
  }

  .new-info {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .text-info {
    display: flex;
    align-self: center !important;
  }

  .platform-form-control {
    max-width: 350px;
    text-align: center;
    margin: auto;
  }

  .buttn {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
  }
}
