.card-image{
    background-color: gray;
    height: 35vh;
}

/* .newTag {
    background-color: #fafafa;
    color: #FF0000;
    border-radius: 14px;
    padding: 3px;
    left: 5%;
} */
  
.subNewTag {
    background-color: #fafafa;
    color: #FF0000;
    border-radius: 14px;
    padding: 3px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* 
.certifiedTag {
    background-color: #fafafa;
    color: #00FF00;
    border-radius: 14px;
    padding: 3px;
    left: 27%;  
} */

.subCertifiedTag {
    background-color: #fafafa;
    color: #00FF00;
    border-radius: 14px;
    padding: 3px;
    left: 21%;
    /* display: flex;
    justify-items: flex-start !important;
    align-items: center; */
}
/* 
.topRatedTag {
    background-color: #fafafa;
    color: #FFA500;
    border-radius: 14px;
    padding: 3px;
    right: 10%;
}
 */
.subTopRatedTag {
    background-color: #fafafa;
    color: #FFA500;
    border-radius: 14px;
    padding: 3px;
    right: 1%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.title-tag {
    color: #1877f2;
    border-radius: 4px;
    left: 5% ;
    background: #fafafa;
    padding: 3px;
    font-weight: bold;
    bottom: -20px;
}

.categoryTag {
    background-color: #fafafa;
    color: #800080;
    border-radius: 14px;
    padding: 3px;
    left: 5%;
    margin: 5px;
}
  
.course-payment{
    margin-top: 10% !important;
}

.payment-buttons{
    margin-top: 20% !important;
}


/* Media Queries for responsiveness */
@media (max-width: 991px) {

    .card-image{
        height: 15vh;
        width: auto;
    }

    .subNewTag {
        font-size: 10px !important;
        border-radius: 10px;
        left: 0%;
        right: inherit;
        
    }

    .subCertifiedTag{
        font-size: 10px;
        border-radius: 10px;
        left: 18%;
        right: inherit;
    }

    .subTopRatedTag{
        font-size: 10px;
        border-radius: 10px;
        left: 60%;
        right: inherit;
    }

    .title-tag {
      font-size: 16px;
      margin-top: 15% ;
      height: 100% !important;
      top: 70% !important;
      bottom: 0% !important;
      left: 5% !important;
      right: 35% !important;
      
    }

    .categoryTag {
        font-size: 12px !important;
        font-weight: 700 !important;    
        margin-top: -3% !important;
    }

    .short-desc{
        font-size: 18px;
    }

    .course-schedule{
        font-size: 12px;
    }

    .course-payment{
        font-size: 14px;
        margin-top: 5% !important;
    }

    .course-price{
        font-size: 22px !important;
    }

    .payment-buttons{
        font-size: 14px !important;
        
    }
  }
  
  /* Media Queries for smaller screens, e.g., mobile devices */
  @media (max-width: 576px) {
    .title-tag {
      font-size: 28px;
      top: 75% !important;
      bottom: 0% !important;
      left: 5% !important;
      right: 45% !important;
    }
  }
  
  

  
